@page "/task/edit/{id:int}"
@using Common.DTOs.Tasks
@using Common.DTOs.Users
@inject TaskService TaskService
@inject NavigationManager Navigation

<EditForm Model="task" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="title" @bind-Value="task.Title" />
    <InputText id="description" @bind-Value="task.Description" />
    <InputDate id="dueDate" @bind-Value="task.DueDate" />
    <InputSelect id="priority" @bind-Value="task.Priority">
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
    </InputSelect>
    <InputSelect id="status" @bind-Value="task.Status">
        <option value="Not Started">Not Started</option>
        <option value="In Progress">In Progress</option>
        <option value="Completed">Completed</option>
    </InputSelect>
    <label for="assignedUser">Assigned User:</label>
    <select id="assignedUser" @bind="task.AssignedUserId">
        @foreach (var user in users)
        {
            <option value="@user.Id">@user.FirstName @user.LastName"</option>
        }
    </select>
    <button type="submit">Save</button>
</EditForm>

@code {
    [Parameter] 
    public int Id { get; set; }

    private TaskDTO task = new TaskDTO();

    private List<UserDTO> users = new List<UserDTO>();

    protected override async Task OnInitializedAsync()
    {
        if (Id != 0)
        {
            task = await TaskService.GetTask(Id);
        }

        users = await TaskService.GetUsers();
    }

    private async Task HandleValidSubmit()
    {
        if (Id == 0)
        {
            var ct = new CreateTaskDTO
                {
                    Title = task.Title,
                    Description = task.Description,
                    DueDate = task.DueDate,
                    Priority = task.Priority
                };

            await TaskService.CreateTask(ct);
        }
        else
        {
            var ut = new UpdateTaskDTO
                {
                    Id = task.Id,
                    Title = task.Title,
                    Description = task.Description,
                    DueDate = task.DueDate,
                    Priority = task.Priority
                };

            await TaskService.UpdateTask(Id, ut);
        }

        Navigation.NavigateTo("/");
    }
}
