@page "/register"
@inject AuthenticationService AuthenticationService
@inject NavigationManager Navigation
@using Common.DTOs.Authentication

<EditForm Model="registerDTO" OnValidSubmit="HandleRegister">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="email" @bind-Value="registerDTO.Email" />
    <InputText id="password" type="password" @bind-Value="registerDTO.Password" />
    <button type="submit">Register</button>
</EditForm>

@code {
    private RegisterDTO registerDTO = new RegisterDTO();

    private async Task HandleRegister()
    {
        await AuthenticationService.Register(registerDTO);

        Navigation.NavigateTo("/signin");
    }
}
